@import '/src/Components/colors';

.App-header {
  background-color: $background2;
  height: 150px;
  display: flex;
  justify-content: left;
}
.App-header-title {
  margin-left: 10vh;
  color: $text;
}
