.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
}

.App-header {
  background-color: #1f2126;
  height: 20vh;
  display: flex;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-title {
  margin-left: 10vh;
}
